<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
      <div>
          <i class="fal fa-monkey bg-light"></i>
        </div>
      
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item mx-2">
              <%= link_to 'Clients', clients_path %>
            </li>
            <li class="nav-item mx-2">
              <%= link_to 'Pets', pets_path %>
            </li>
            <li class="nav-item mx-2">
              <%= link_to 'Pet Histories', pet_histories_path %>
            </li>
          </ul>
        </div>
      </div>
    </nav>